@page
@model Brimborium.LocalObservability.TestWebApplication1.Pages.fourModel
<div class="text-center">
    <h1>four: @this.Model.Way</h1>
    <div><a href="one">one</a></div>
    <div><a href="two">two</a></div>
    <div><a href="three">three</a></div>
    <div><a href="four">four</a></div>
    <div><a href="five">five</a></div>
    <div><a href="six">six</a></div>
    <div><a href="seven">seven</a></div>
    <div><a href="eight">eight</a></div>
    <div><a href="nine">nine</a></div>
</div>
